@import "tailwindcss";

body {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

/* Hides scrollbar for the mini-cart but allows scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}